.home {
  width: 100%;
  height: 100dvh;
  /* chuẩn mobile */
  position: relative;
  overflow: hidden;
}

/* Banner */

.home-banner {
  position: absolute;
  inset: 0;
  z-index: 1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Thanh nâu */

.home-divider {
  position: absolute;
  bottom: 100px;
  width: 100%;
  height: 20px;
  background: #a95829;
  z-index: 2;
}



.home-bg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: #e7bb6c;
  z-index: 2;
}


.home-menu {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);

  width: 1200px;
  max-width: 92%;

  padding: 20px;
  background: #e7c991;
  border-radius: 20px 20px 0px 0px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;

  z-index: 3;
}


.menu-card {
  background: #efefef;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.25s;

  img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 10px;
  }

  p {
    font-weight: 600;
    font-size: 16px;
    color: #5f9ea0;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  }
}


@media (max-width: 1024px) {

  .home-menu {
    grid-template-columns: repeat(3, 1fr);
  }

}


@media (max-width: 768px) {

  .home-divider {
    bottom: 180px;
  }

  .home-bg {
    height: 180px;
  }

  .home-menu {
    bottom: 90px;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
    padding: 18px;
  }

  .menu-card {

    padding: 15px;

    img {
      width: 45px;
      height: 45px;
    }

    p {
      font-size: 13px;
    }

  }

}


/* HEADER */

.home-header {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;

  z-index: 5;
}




.home-logo {
  font-size: 28px;
  font-weight: 700;
  color: white;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.home-actions {
  display: flex;
  gap: 15px;
}



.btn-surtell {
  padding: 10px 24px;
  border-radius: 5px;

  border: 3px solid #e7b86a;
  background: linear-gradient(#f6b34d, #e48d1e);

  font-weight: 700;
  color: #3a2205;
}